<div class="ad">
  <img src="/assets/images/logo_light_small.png" alt="Logo Campus Code"/>
  <p>
    <span class="lead">Gostou desse conteúdo?</span>
    Você pode aprender muito mais programando ao lado do {{
    page.author.display_name }} e de outros desenvolvedores nos treinamentos do
    <a href="http://www.campuscode.com.br" target="_blank">Campus Code</a>.
    Nossos programas incluem os conteúdos mais pedidos pelo mercado como Ruby on
    Rails, Git, TDD, práticas ágeis, HTML 5, CSS e SQL.
  </p>
</div>
